
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>@Html.ActionLink("Administrer Institutioner", "Index", "Institutions")</div>

<div>@Html.ActionLink("Administrer Institutions Ledere", "Index", "InstitutionAdmins")</div>



