@model DayCareApp.Web.Entities.InstitutionAdmin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstitutionAdmin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institution.InstitutionName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstitutionAdminId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
