@model IEnumerable<DayCareApp.Web.Entities.Child>

@{
    ViewBag.Title = "IndexPictures";
}

<h2>IndexPictures</h2>




@foreach (var item in Model)
{

    <div>
        <a href="@Url.Action("Details", "CheckIn", new { id=item.ChildId })">
            <img src="@Url.Content(item.ImagePath)" alt="Home" width="300" height="300" vspace="10" />
        </a>
    </div>
}

