@model IEnumerable<DayCareApp.Web.Models.Child>

@{
    ViewBag.Title = "IndexPictures";
    

}

@foreach (var item in Model)
{
    

    <a href="@Url.Action("Details", "CheckIn", new { id=item.Id })">
    <img src="@Url.Content(item.ImagePath)" alt="Home" width="300" height="300" vspace="10"  /></a>
} 