@model DayCareApp.Web.Entities.DayRegistration

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedPickupParent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th></th>
    </tr>
</table>
